language: ruby
cache: bundler # so we don't have to bundle install every time
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2

before_script: travis/before.sh

script: bundle exec rspec

branches:
  only:
    - master
    - production
